*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: Raleway;
  --accent-font: "STIX Two Text";
}

.page {
  background-color: var(--bg-color, #f3efec);
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, Raleway);
}

a,
button:focus {
  outline: none;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

.header {
  padding-top: 10%;
}

.heading {
  font-family: var(--accent-font, "STIX Two Text");
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 108px */
  text-align: center;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.header__menu {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--text-color, #312a4e);
  border-bottom: 1px solid var(--text-color, #312a4e);
}

.header__theme-toggler {
  position: relative;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.header__theme-button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: currentColor;
  font-size: 18px;
  border-bottom: 1px solid transparent;
  position: relative;
}

.header__theme-button:disabled {
  pointer-events: none;
}

.theme_dark .header__theme-button:disabled {
  pointer-events: none;
}

.header__theme-button:hover {
  border-bottom: 1px solid rgba(49, 42, 78, 0.5);
}

.theme_dark .header__theme-button:hover {
  border-bottom: 1px solid rgba(179, 179, 179, 0.5);
}

.header__theme-button_is-active:hover {
  outline: none;
}

.theme_dark .header__theme-button_is-active:hover {
  outline: none;
}

.header__theme-button:focus-visible {
  outline: 1px solid var(--text-color, #312a4e);
}

.theme_dark .header__theme-button:focus-visible {
  outline: 1px solid var(--text-color, #b3b3b3);
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: "";
  position: absolute;
  width: 105%;
  left: 0;
  bottom: 20%;
  height: 0.3em;
  background-color: var(--accent-color, #ffab6b);
  z-index: -1;
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.content__title {
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.content__text-block_type_first-lettered
  > .content__paragraph:first-child::first-letter {
  background-color: var(--accent-color, #ffab6b);
  padding: 0 4px 0 4px;
  margin-right: 1px;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
}

.theme_dark
  .content__text-block_type_first-lettered
  > .content__paragraph:first-child::first-letter {
  border: 1px solid currentColor;
}

.content__figure {
  width: calc(100% + (5vi + 5vi));
  position: relative;
  right: 5vi;
  margin-top: 7%;
  margin-bottom: 7%;
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  border-bottom: 1px solid var(--text-color, #312a4e);
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 18px;
}

.how-it-works__link {
  color: inherit;
}

.theme_dark .how-it-works__link {
  color: inherit;
}

.how-it-works__link:hover {
  text-decoration-color: rgba(49, 42, 78, 0.5);
}

.how-it-works__link:focus-visible {
  outline: 1px solid var(--text-color, #312a4e);
}

.theme_dark .how-it-works__link:hover {
  text-decoration-color: rgba(179, 179, 179, 0.5);
}

.theme_dark .how-it-works__link:focus-visible {
  outline: 1px solid var(--text-color, #b3b3b3);
}

.content__blockquote {
  font-style: italic;
  line-height: 200%;
  width: 75%;
  text-align: left;
  margin-bottom: 1.5em;
  margin-right: auto;
  margin-left: auto;
}

.content__card {
  aspect-ratio: 4/3;
  margin-top: 7%;
  border: 1px solid currentColor;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__card-title {
  font-size: 60px;
  position: relative;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  left: 4px;
  bottom: 0.1em;
  height: 0.3em;
  background-color: var(--accent-color, #ffab6b);
  z-index: -1;
}

.theme_dark .colored-text::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  left: 4px;
  bottom: 0.1em;
  height: 0.3em;
  background-image: url(../images/pattern.svg);
  z-index: -1;
}

.content__list {
  list-style-type: none;
  position: relative;
}

.content__list li:not(:last-child) {
  margin-bottom: 10px;
}

.content__list-item {
  position: relative;
}

.content__list-item::before {
  content: "";
  width: 15px;
  height: 15px;
  left: 0;
  top: 50%;
  margin-top: -7.5px;
  margin-left: -25px;
  position: absolute;
  background-image: url(../images/marker-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.theme_dark .content__list-item::before {
  content: "";
  width: 15px;
  height: 15px;
  left: 0;
  top: 50%;
  margin-top: -7.5px;
  margin-left: -25px;
  position: absolute;
  background-image: url(../images/marker-dark.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  margin-top: 10%;
  padding: 2.5%;
  border-top: 1px solid var(--text-color, #312a4e);
}

.footer__copyright {
  text-align: center;
  color: var(--text-color, #312a4e);
  font-size: 18px;
}
